@page
@model ClientList.Pages.Clients.IndexModel
@{

}

<br />
<h2>List if Clients</h2>
<a class="btn btn-primary btn-sm" href="/Clients/Create">New Client</a>
<br />
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">Created At</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var client in Model.listClients)
      {
          <tr>
              <td>@client.id</td>
              <td>@client.name</td>
              <td>@client.email</td>
              <td>@client.phone</td>
              <td>@client.address</td>
              <td>@client.created_at</td>
              <td>
                 <a class="btn btn-success btn-sm" href="/Clients/Edit?id=@client.id">Edit</a>
                 <a class="btn btn-danger btn-sm" href="/Clients/Delete?id=@client.id">Delete</a>
              </td>

          </tr>
      }
  </tbody>
</table>